@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    background-color: #f5f7fa;
    color: #2d3748;
}
.dashboard-layout {
  display: flex;
  min-height: 100vh;
}

.dashboard-content {
  flex: 1;
  padding: 24px;
  background: #f7fafc;
}


.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 999;
}
.popup-overlay.active {
  opacity: 1;
  pointer-events: auto;
}

/* Popup container */
.popup-container {
  background: transparent;
  border-radius: 12px;
  width: 700px;
  height: fit-content;
  overflow: hidden;
  max-width: 90%;
  text-align: center;
  transform: scale(0);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.popup-container.active {
  transform: scale(1);
  opacity: 1;
}

/* Close button */
.close-btn {
  margin-top: 16px;
  padding: 8px 16px;
  background: #e74c3c;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}
.close-btn:hover {
  background: #c0392b;
}

.statusError{
    background: #fee2e2;
    color: #b91c1c;
    padding:20px;
    border-radius: 10px;
    font-size:20px;
}
.statusSuccess{
    background: #eafee2;
    color: #34a308;
    padding:20px;
    border-radius: 10px;
    font-size:20px;
}

.skeleton-box {
  display: inline-block;
  height: 1rem;
  position: relative;
  overflow: hidden;
  background-color: #e5e7eb;
  border-radius: 4px;
}
.skeleton-box::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.2) 20%,
    rgba(255, 255, 255, 0.5) 60%,
    rgba(255, 255, 255, 0)
  );
  animation: shimmer 2s infinite;
  content: '';
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.skeleton-table {
  width: 100%;
  border-collapse: collapse;
}

.skeleton-table td, 
.skeleton-table th {
  padding: 16px;
  border-bottom: 1px solid #f3f4f6;
}

.skeleton-pill {
  border-radius: 999px;
  height: 1.5rem;
  width: 60px;
}